@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
    box-sizing: border-box;

    body {
        font-family: 'Muli', sans-serif;
        background-color: #f0f0f0;
      }
  }