* {
    box-sizing: border-box;
    margin: 0;
}

body {
    .bg {
        width:100vw;
        height:100vh;
        background-image: url('./assets/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            font
        }
    }
}