* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    .split {
        flex:6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.left {
            background-image: url(https://github.com/bradtraversy/50projects50days/blob/master/split-landing-page/ps.jpg?raw=true);
            background-position: center;
            back
        }
        .btn {
            text-decoration: none;
            margin-top: 50px;
            padding:5px 20px;
            border:mediumturquoise 1px solid;
            color:mediumturquoise;
        }
    }
    
}
