* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        .input {
            width:0;
        }
    }
    .container.active {
        .input {
            width:200px;
        }
    }
}

