* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .progress-container {
            display: flex;
            position: relative;
            gap:100px;
            .circle {
                width:40px;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: lightgrey 3px solid;
                background-color: white;
                border-radius:100%;
                z-index: 1;
            }
            .progress {
                width:450px;
                height:5px;
                background-color:lightgrey;
                position: absolute;
                top:18px;
            }
        }
        .btns {
            display: flex;
            gap:20px;
            #prev {
                border:none;
                color: white;
                background-color: light;
            }
        }
        
    }
}