* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        form {
            background-color: rgb(69, 69, 109);
            display: flex;
            flex-direction: column;
            gap:5px;
        }
    }
}