* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 300px;
    .panel {
        flex: 0.5;
        height: 70%;
        position: relative;
        margin: 0 10px;
        border-radius: 20px;
        &.active {
            flex: 5
        }
        h3 {
            position: absolute;
            left: 0;
            bottom: 0;
            color:white;
            opacity: 0;
        }
        
    }
    
}