

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0 ;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    overflow: hidden;
    .circle-container {
        position: fixed;
        top: -100px;
        left: -100px;

        .circle {
            width: 200px;
            height: 200px;
            background-color: orangered;
            border-radius: 50%;
            position: relative;
            button {
                position: absolute;
                border:none;
                background-color: transparent;
                font-size: 20px;
            }
            #open {
                left: 65%;
                top: 65%;
            }
            #close {
                left: 35%;
                top: 65%;
            }
        }
    }

  } 